<footer class="footer">
  <div class="container">
    <ul class="navbar-nav navbar-left no-bullet">
      <li>&copy; 2018 Circle Fitness Technologies, Inc.</li>
      <li><%= link_to 'Terms', terms_path %></li>
      <li><%= link_to 'Privacy', terms_privacy_policy_path %></li>
    </ul>
    <ul class="navbar-nav navbar-right no-bullet">
      <li><%= link_to 'Become a Host', host_path %></li>
      <li><%= link_to 'How it Works', how_it_works_path %></li>
      <li><%= link_to 'For Gyms', how_it_works_for_gyms_path %></li>
      <li><%= link_to 'For Trainers', how_it_works_for_trainers_path %></li>
      <li><%= link_to 'For Clients and Guests', how_it_works_for_clients_and_guests_path %></li>
    </ul>
  </div>
</footer>