<div class="container content">
  <div class="terms">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <br>
        <aside class="visible-md visible-lg">
          <ul class="about no-bullet">
            <li class="sidebar-item"><p><%= link_to "Terms of Service", terms_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Nondiscrimination Policy", terms_nondiscrimination_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Payments Terms of Service", terms_payments_terms_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Privacy Policy", terms_privacy_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Host Guarantee", terms_host_guarantee_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Guest Refund", terms_guest_refund_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Copyright Policy", terms_copyright_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Cookie Policy", terms_cookie_policy_path, class: "sidebar-link active" %></p></li>

            <li class="sidebar-item"><p><%= link_to "Trainer and Guest Release and Waiver", terms_guest_waiver_path %></p></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-6">
        <h2 class="visible-md visible-lg">Circle Cookie Policy</h2>
        <h2 class="visible-xs visible-sm">Circle Cookie Policy</h2>

        <br>

         <p><small>Circle uses cookies and similar technologies to help provide, protect, and improve the Circle Platform. This policy explains how and why we use these technologies and the choices you have.</small></p>

         <p><small>A cookie is a small data file that is transferred to your device (e.g. your phone or your computer). For example, a cookie could allow us to recognize your browser, while another could store your preferences. There are two types of cookies used on the Circle Platform: (1) “session cookies” and (2) “persistent cookies.” Session cookies normally expire when you close your browser, while persistent cookies remain on your device after you close your browser, and can be used again the next time you access the Circle Platform.</small></p>

         <p><small>We also use other technologies with similar functionality to cookies, such as web beacons, pixels, mobile identifiers, and tracking URLs, to obtain Log Data (as described in the Privacy Policy). For example, our email messages may contain web beacons and tracking URLs to determine whether you have opened a certain message or accessed a certain link.</small></p>

         <h5>Why Circle Uses These Technologies</h5>

         <p><small>We use these technologies for a number of purposes, such as:</small></p>

         <ul>
           <li>
             <p><small>To enable you to use and access the Circle Platform and the Payment Services.</small></p>
           </li>
           <li>
             <p><small>To enable, facilitate and streamline the functioning of and your access to the Circle Platform.</small></p>
           </li>
           <li>
             <p><small>To better understand how you navigate through and interact with the Circle Platform and to improve the Circle Platform.</small></p>
           </li>
           <li>
             <p><small>To serve you tailored advertising (on the Circle Platform and on third party websites).</small></p>
           </li>
           <li>
             <p><small>To show you content (e.g., advertisements) that is more relevant to you.</small></p>
           </li>
           <li>
             <p><small>To monitor and analyze the performance, operation, and effectiveness of the Circle Platform and Circle advertisements.</small></p>
           </li>
           <li>
             <p><small>To enforce legal agreements that govern use of the Circle Platform.</small></p>
           </li>
           <li>
             <p><small>For fraud detection and prevention, and investigations.</small></p>
           </li>
           <li>
             <p><small>For purposes of our own customer support, analytics, research, product development, and regulatory compliance.</small></p>
           </li>
         </ul>

         <h5>Third Parties</h5>

         <p><small>We may also allow certain business partners to place these technologies on the Circle Platform. These partners use these technologies to (1) help us analyze how you use the Circle Platform, such as by noting the third party services from which you arrived, (2) market and advertise Circle services to you on the Circle Platform and third party websites, (3) help us detect or prevent fraud or conduct risk assessments, or (4) collect information about your activities on the Circle Platform, other sites, and/or the ads you have clicked on. For example, to help us better understand how people use the Circle Platform, we work with a number of analytics partners, including Google Analytics. To prevent Google Analytics from using your information for analytics, you may install the Google Analytics Opt-Out Browser by <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">clicking here</a>.</small></p>

         <h5>Third Party Social Plugins</h5>

         <p><small>The Circle Platform may use social plugins provided and operated by third parties, such as Facebook’s Like Button. As a result of this, you may send to the third party the information that you are viewing on a certain part of the Circle Platform. If you are not logged into your account with the third party, then the third party may not know your identity. If you are logged in to your account with the third party, then the third party may be able to link information or actions about your interactions with the Circle Platform to your account with them. Please refer to the third party’s privacy policies to learn more about its data practices.</small></p>

         <h5>Your Choices</h5>

         <p><small>Most browsers automatically accept cookies, but you can modify your browser setting to decline cookies by visiting the Help portion of your browser’s toolbar.</small></p>

         <p><small>Your mobile device may allow you to control cookies through its settings function. Refer to your device manufacturer’s instructions for more information.</small></p>

         <p><small>If you choose to decline cookies, some parts of the Circle Platform may not work as intended or may not work at all.</small></p>
      </div>
    </div>
  </div>
</div>