<div class="container content">
  <div class="terms">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <br>
        <aside class="visible-md visible-lg">
          <ul class="about no-bullet">
            <li class="sidebar-item"><p><%= link_to "Terms of Service", terms_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Nondiscrimination Policy", terms_nondiscrimination_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Payments Terms of Service", terms_payments_terms_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Privacy Policy", terms_privacy_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Host Guarantee", terms_host_guarantee_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Guest Refund", terms_guest_refund_policy_path, class: "sidebar-link active" %></p></li>

            <li class="sidebar-item"><p><%= link_to "Copyright Policy", terms_copyright_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Cookie Policy", terms_cookie_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Trainer and Guest Release and Waiver", terms_guest_waiver_path %></p></li>
          </ul>
        </aside>
      </div>

      <div class="col-md-6">
        <h2 class="visible-md visible-lg">Circle Guest Refund Policy</h2>
        <h2 class="visible-xs visible-sm">Circle Guest Refund Policy</h2>

        <br> 

        <p><small>These terms and conditions govern Circle’s policy for Guest refunds (“Guest Refund Policy”) and the obligations of the Host associated with the Guest Refund Policy. The Guest Refund Policy applies in addition to Circle’s Terms of Service (“Circle Terms”). The Guest Refund Policy is available to Guests who book and pay for an Accommodation through the Circle Platform and are unable to access the Host Accommodation because of closure.</small></p>

        <p><small>All capitalized terms shall have the meaning set forth in the Circle Terms or Payments Terms unless otherwise defined in this Guest Refund Policy.</small></p>

        <p><small><strong>By using the Circle Platform as a Host or Guest, you are indicating that you have read and that you understand and agree to be bound by this Guest Refund Policy.</strong></small></p>

        <ol>
          <h4><li>Closure</li></h4>

          <p><small>“Closure” means any one of the following:</small></p>

          <p><small>(a) the Host of the Accommodation (i) closes the Accommodation before the scheduled start of the booking, or (ii) fails to provide the Guest with the reasonable ability to access the Accommodation (e.g. does not provide the keys and/or a security code (if applicable)).</small></p>

          <p><small>(b) the Listing’s description or depiction of the Accommodation is materially inaccurate with respect to:</small></p>

          <ul>
            <li>
              <p><small>special amenities or features represented in the Listing are not provided or do not function, or</small></p>
            </li>
            <li>
              <p><small>the physical location of the Accommodation (proximity).</small></p>
            </li>
          </ul>

          <p><small>(c) at the start of the Guest’s booking, the Accommodation: (i) is not generally clean and sanitary (ii) contains safety or health hazards that would be reasonably expected to adversely affect the Guest’s use of the Accommodation in Circle’s judgment.</small></p>

          <h4><li>The Guest Refund Policy</li></h4>

          <p><small>If you are a Guest and suffer Closure, we agree, at our discretion, to either (i) reimburse you up to the amount paid by you through the Circle Platform (“Total Fees”) depending on the nature of the Closure suffered, or (ii) use our reasonable efforts to find and book you another Accommodation. All determinations of Circle with respect to the Guest Refund Policy, including without limitation the size of any refund and the comparability of alternate Accommodations, shall be in Circle’s discretion, and final and binding on the Guests and Hosts.</small></p>

          <h4><li>Conditions to Claim Closure</li></h4>

          <p><small>To submit a valid claim for Closure and receive the benefits with respect to your booking, you are required to meet each of the following conditions:</small></p>

          <p><small>(a) you must be the Guest that booked the Accommodation;</small></p>

          <p><small>(b) you must bring the Closure to our attention via email and provide us with information (including photographs or other evidence) about the Accommodation and the circumstances of the Closure within 24 hours after the later of (i) the start of your booking or (ii) you discover the existence of the Closure, and must respond to any requests by us for additional information or cooperation on the Closure;</small></p>

          <p><small>(c) you must not have directly or indirectly caused the Closure (through your action, omission or negligence); and</small></p>

          <p><small>d) unless Circle advises you that the Closure cannot be remediated, you must have used reasonable efforts to try to remedy the circumstances of the Closure with the Host prior to making a claim for a Closure.</small></p>

          <h4><li>Minimum Quality Standards, Host Responsibilities and Reimbursement to Guest</li></h4>

          <p><small>4.1 If you are a Host, you are responsible for ensuring that the Accommodations you list on the Circle Platform meet minimum quality standards regarding access, adequacy of the Listing description, safety and cleanliness. During a Guest’s use of an Accommodation, Hosts should be available, or make a third-party available, in order to try, in good faith, to resolve any Guest issues.</small></p>

          <p><small>4.2 If you are a Host, and if (i) Circle determines that a Guest has suffered Closure related to an Accommodation listed by you and (ii) Circle either reimburses that Guest (up to their Total Fees) or provides an alternative Accommodation to the Guest, you agree to reimburse Circle up to the amount paid by Circle within 30 days of Circle’s request. If the Guest is relocated to an alternative Accommodation, you also agree to reimburse Circle for reasonable additional costs incurred to relocate the Guest. You authorize Circle Payments to collect any amounts owed to Circle by reducing your Payout or as otherwise permitted pursuant to the Payments Terms.</small></p>

          <h4><li>Trainer and Client No Shows</li></h4>

          <p><small><strong>In the event that a Trainer (Guest) or Client (Guest) does not show up for their Accommodation, neither Circle nor the Host is held liable and will not refund either the Trainer or Client.</strong></small></p>

          <p><small>(a) if a Trainer does not show up for their Accommodation, the Client will still have full access to the Accommodation. The contract between the Trainer and Client should include a Trainer No Show/Late Cancellation policy and all disputes will be between the Trainer and Client.</small></p>

          <p><small>(b) if a Client does not show up for their Accommodation, the Trainer will still have full access to the Accommodation and can train other Clients. The contract between the Trainer and Client should include a Client No Show/Late Cancellation policy and all disputes will be between the Trainer and Client.</small></p>

          <h4><li>General Provisions</li></h4>

          <p><small>5.1 No Assignment/No Insurance. This Guest Refund Policy is not intended to constitute an offer to insure, does not constitute insurance or an insurance contract, does not take the place of insurance obtained or obtainable by the Guest, and the Guest has not paid any premium in respect of the Guest Refund Policy. The benefits provided under this Guest Refund Policy are not assignable or transferable by you.</small></p>

          <p><small>5.2 Modification or Termination. Circle reserves the right to modify or terminate this Guest Refund Policy, at any time, in its sole discretion. If Circle modifies this Guest Refund Policy, we will post the modification on the Circle Platform or provide you with notice of the modification and Circle will continue to process all claims for Closure made prior to the effective date of the modification.</small></p>

          <p><small>5.3 Entire Agreement. This Guest Refund Policy constitutes the entire and exclusive understanding and agreement between Circle and you regarding the Guest Refund Policy and supersedes and replaces any and all prior oral or written understandings or agreements between Circle and you regarding the Guest Refund Policy.</small></p>

          <h4><li>Contacting Circle</li></h4>

          <p><small>If you have any questions about the Guest Refund Policy, please email us at support@circle.fit.</small></p>
        </ol>
      </div>
    </div>
  </div>
</div>