<div class="container content">
  <div class="terms">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <br>
        <aside class="visible-md visible-lg">
          <ul class="about no-bullet">
            <li class="sidebar-item"><p><%= link_to "Terms of Service", terms_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Nondiscrimination Policy", terms_nondiscrimination_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Payments Terms of Service", terms_payments_terms_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Privacy Policy", terms_privacy_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Guest Refund", terms_guest_refund_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Copyright Policy", terms_copyright_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Cookie Policy", terms_cookie_policy_path %></p></li>

            <li class="sidebar-item"><p><%= link_to "Trainer and Guest Release and Waiver", terms_guest_waiver_path, class: "sidebar-link active" %></p></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-6">
        <h2 class="visible-md visible-lg">Circle Trainer and Guest Release and Waiver</h2>
        <h2 class="visible-xs visible-sm">Circle Trainer and Guest Release and Waiver</h2>

        <br>

        <p><small>In order to access a Host Accommodation, your Host(s) require(s) you to accept this Guest Release and Waiver, which is effective between you and your Host(s) as of the date when you first book or access an Accommodation, whichever happens first.</small></p>

        <p><small>You represent that you are 18 years of age or older. </small></p>

        <h5>Assumption of Risks</h5>

        <p><small>You understand and acknowledge that physical activity may be hazardous and may carry the risk of injury or illness, including sickness, physical injury, property damage, disability, permanent paralysis, and death.</small></p>

        <p><small>TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, YOU KNOWINGLY, VOLUNTARILY AND FREELY ASSUME ALL RISKS, BOTH KNOWN AND UNKNOWN, OF PARTICIPATING IN PHYSICAL ACTIVITY, EVEN IF THOSE RISKS ARISE FROM THE NEGLIGENCE OR CARELESSNESS OF THE HOST OR OTHERS, OR DEFECTS IN THE EQUIPMENT, PREMISES, OR FACILITIES USED DURING THE ACCOMMODATION, OR OTHERWISE, AND YOU ASSUME FULL RESPONSIBILITY FOR PARTICIPATION.</small></p>

        <h5>Release and Waiver</h5>
        <p><small>You acknowledge and agree that:</small></p>
        <ul>
          <li>
            <p><small>You have reasonably assessed the risks involved in physical activity and have made an informed and voluntary choice to participate.</small></p>
          </li>
          <li>
            <p><small>You alone, and not your Host(s), are responsible for determining your fitness for participating in physical activity and your ability to fully understand any directions or warnings presented.</small></p>
          </li>
          <li>
            <p><small>You will not participate in any physical activity when you have a physical, medical, or mental limitation or disability, or when you are aware or should reasonably be aware of any factors that may limit or prevent you from safely participating in that physical activity.</small></p>
          </li>
          <li>
            <p><small>You will act reasonably and responsibly and will comply with any provided and customary conditions, directions, and/or precautions for participation in physical activity. If you notice any hazard during an Experience, you will stop participating immediately.</small></p>
          </li>
        </ul>
        <p><small>TO THE MAXIMUM EXTENT PERMITTED BY LAW, YOU RELEASE AND PROMISE NOT TO SUE YOUR HOST(S) FOR ANY CLAIMS, DEMANDS, CAUSES OF ACTION, LOSSES (WHETHER ECONOMIC OR NON-ECONOMIC), DAMAGES, EXPENSES, COSTS OR LIABILITY OF ANY NATURE WHATSOEVER ARISING FROM OR IN CONNECTION WITH YOUR PARTICIPATION, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY, OR ANY OTHER LEGAL THEORY.</small></p>

        <p><small>If you reside in California, you expressly waive the protection of Section 1542 of the California Civil Code (“Section 1542”), which provides: A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS/HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM/HER MUST HAVE MATERIALLY AFFECTED HIS/HER SETTLEMENT WITH THE DEBTOR. You understand and agree that claims or facts in addition to or different from those which are now known or believed by you to exist may hereafter be discovered.</small></p>

        <p><small>You intend this Guest Release and Waiver to be a complete and unconditional release of all liability to the greatest extent allowed by law. You agree that if any portion of this Waiver and Release is held to be invalid, the balance notwithstanding shall continue in full force and effect.</small></p>

        <h5>Disclaimer of Warranties</h5>

        <p><small>TO THE MAXIMUM EXTENT PERMITTED BY LAW, HOSTS PROVIDE ACCOMMODATIONS “AS IS,” WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED. WITHOUT LIMITING THE FOREGOING AND TO THE MAXIMUM EXTENT PERMITTED BY LAW, HOST(S) EXPRESSLY DISCLAIM ANY WARRANTIES OF SAFETY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT, AND AS TO THE ADEQUACY OF THE DIRECTIONS AND WARNINGS PROVIDED TO YOU.</small></p>

        <h5>Indemnification</h5>

        <p><small>You agree that if, despite this Guest Release and Waiver, you or anyone on your behalf make a claim against the Host(s) relating to an Accommodation, you will indemnify and hold the Host(s) harmless from any liability, demand, loss, damage, or costs which the Host(s) may incur as the result of such claim.</small></p>

        <p><small>You affirm that you HAVE READ THIS GUEST RELEASE AND WAIVER AND FULLY UNDERSTAND THE ASSUMPTION OF RISK, RELEASE, WAIVER, AND CONSENT CONTAINED IN IT. YOU FURTHER UNDERSTAND THAT YOU HAVE GIVEN UP RIGHTS BY AGREEING TO THESE TERMS, AND HAVE DONE SO FREELY AND VOLUNTARILY AND WITHOUT INDUCEMENT.</small></p>
      </div>
    </div>
  </div>
</div>