<div class="host">
  <div class="host-header">
    <div class="row">
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 img-responsive">
        <h5 class="capital">Host on Circle</h5>
        <h2>Earn money as a Circle host</h2>
        <br>
        <div>
          <%= link_to 'Get Started', new_gym_path, :class => "btn btn-start" %>
        </div> 
      </div>
    </div>  
  </div>
</div>
<div class="why-host">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Why host on Circle</h3> 
        <p>No matter what kind of gym or space you have to share, Circle makes it simple and secure to earn money and reach thousands of trainers and guests looking for unique places to train, just like yours.</p>  
      </div>
      <div class="col-md-4">
        <h3>You're in control</h3>
        <p>With Circle, you’re in full control of your availability, prices, gym rules, and how you interact with trainers and guests. </p>  
      </div>
      <div class="col-md-4">
        <h3>We're there at every step</h3>
        <p>Circle offers tools, hospitality tips, support, and an online community of experienced hosts for questions and sharing ideas for success.</p>  
      </div> 
    </div>
  </div> 
</div>
<div class="how-to">
  <div class="container">
    <h2>How to be a Circle host</h2>
    <br>
    <div class="row">
      <div class="col-md-4">
        <span class="pull-left number"><h1>1</h1></span>&emsp;
        <span><h2>Create your listing</h2></span>
        <p>It’s free and easy to create a listing on Circle. Describe your space, list your equipment and amenities, and add photos and details.</p>
        <br>
        <%= image_tag('create.jpg', :height => 400, alt: 'list') %> 
      </div>
      <div class="col-md-4">
        <span class="pull-left number"><h1>2</h1></span>&emsp;
        <span><h2>Welcome guests</h2></span>
        <p>Get to know trainers and guests before arrival by messaging them on our platform. Give them a tour of your facility and equipment.</p>
        <br>
        <%= image_tag('welcome.jpg', :height => 400, alt: 'welcom') %>  
      </div>
      <div class="col-md-4">
        <span class="pull-left number"><h1>3</h1></span>&emsp;
        <span><h2>Get paid</h2></span>
        <p>Circle’s secure payment system means you never have to deal with money directly. Trainers and guests are charged before arrival, and you are paid automatically.</p>
        <br>
        <%= image_tag('paid.jpg', :height => 400, alt: 'paid') %> 
      </div>  
    </div>
  </div>
</div>
<div class="faq-list">
  <div class="container">
    <h3>Frequently asked questions</h3>
    <br>
    <div class="row">
      <div class="col-md-6">
        <h4>Getting Started</h4>
        <div class="panel-group" id="accordion">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Can I share my gym on Circle?</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">In most cases, Yes.</div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Who can be a Circle host?</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">It’s easy to become a Circle host, and it’s always free to create a listing. Gyms and studios are just a couple of the properties hosts have shared on Circle.</div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Does Circle screen trainers?</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">Circle verifies some information about trainers and guests to help make our community a safer place for everyone. That includes requiring a profile photo, confirmed phone number, and confirmed email address. As a host, for added security, you should also ask potential trainers to provide copies of certifications and insurance.</div>
            </div>
          </div>
        </div> 
      </div>
      <div class="col-md-6">
        <h4>Earnings</h4>
        <div class="panel-group" id="accordion">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                How should I price my listing on Circle?</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">We suggest two listings; one for trainers and one for clients and guests. What you charge is always up to you, but we recommend $15 per day for trainers and $15 per day for clients and other guests. When you create a listing on Circle, try to price your property based on your location, equipment and amenities.</div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                How do Circle payments work?</a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">All payments are processed securely through Stripe. Trainers and guests are charged when a reservation is made, and hosts are paid monthly.</div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                Does Circle provide any insurance for hosts?</a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">No. Each host is responsible for  liability insurance for their space.</div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<div class="start-hosting">
  <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
    <h2>Start Creating your listing</h2>
    <br>
    <div>
      <%= link_to 'Get Started', new_gym_path, :class => "btn btn-start" %>
    </div> 
  </div>
</div>
