<div class="terms">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <br>
      <aside class="visible-md visible-lg">
        <ul class="about no-bullet">
          <li class="sidebar-item"><p><%= link_to "Terms of Service", terms_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Nondiscrimination Policy", terms_nondiscrimination_policy_path, class: "sidebar-link active" %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Payments Terms of Service", terms_payments_terms_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Privacy Policy", terms_privacy_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Host Guarantee", terms_host_guarantee_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Guest Refund", terms_guest_refund_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Copyright Policy", terms_copyright_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Cookie Policy", terms_cookie_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Trainer and Guest Release and Waiver", terms_guest_waiver_path %></p></li>
        </ul>
      </aside>
    </div>
    <h2 class="visible-md visible-lg">Nondiscrimination Policy</h2>
    <h2 class="visible-xs visible-sm">Nondiscrimination Policy</h2>
    
    <br>
    
    <div class="col-md-6">
      <h5>Our Commitment to Inclusion and Respect</h5>
      
      <p><small>Circle is, at its core, an open community dedicated to bringing the world closer together by fostering meaningful, shared experiences among people from all parts of the world. Our community includes millions of people from virtually every country on the globe. It is an incredibly diverse community, drawing together individuals of different cultures, values, and norms.</small></p>
      
      <p><small>The Circle community is committed to building a world where people from every background feel welcome and respected, no matter how far they have traveled from home. This commitment rests on two foundational principles that apply both to Circle’s hosts and guests: inclusion and respect. Our shared commitment to these principles enables every member of our community to feel welcome on the Circle platform no matter who they are, where they come from, how they worship, or whom they love. Circle recognizes that some jurisdictions permit, or require, distinctions among individuals based on factors such as national origin, gender, marital status or sexual orientation, and it does not require hosts to violate local laws or take actions that may subject them to legal liability. Circle will provide additional guidance and adjust this nondiscrimination policy to reflect such permissions and requirements in the jurisdictions where they exist.</small></p>
      
      <p><small>While we do not believe that one company can mandate harmony among all people, we do believe that the Circle community can promote empathy and understanding across all cultures. We are all committed to doing everything we can to help eliminate all forms of unlawful bias, discrimination, and intolerance from our platform. We want to promote a culture within the Circle community—hosts, guests and people just considering whether to use our platform—that goes above and beyond mere compliance. To that end, all of us, Circle employees, hosts and guests alike, agree to read and act in accordance with the following policy to strengthen our community and realize our mission of ensuring that everyone can belong, and feels welcome, anywhere.</small></p>
      
      <ul>
        <li><small>Inclusion – We welcome guests of all backgrounds with authentic hospitality and open minds. Joining Circle, as a host or guest, means becoming part of a community of inclusion. Bias, prejudice, racism, and hatred have no place on our platform or in our community. While hosts are required to follow all applicable laws that prohibit discrimination based on such factors as race, religion, national origin, and others listed below, we commit to do more than comply with the minimum requirements established by law.</small></li>
        <li><small>Respect – We are respectful of each other in our interactions and encounters. Circle appreciates that local laws and cultural norms vary around the world and expects hosts and guests to abide by local laws, and to engage with each other respectfully, even when views may not reflect their beliefs or upbringings. Circle’s members bring to our community an incredible diversity of background experiences, beliefs, and customs. By connecting people from different backgrounds, Circle fosters greater understanding and appreciation for the common characteristics shared by all human beings and undermines prejudice rooted in misconception, misinformation, or misunderstanding.</small></li>
      </ul>
      
      <h5>Specific Guidance for Hosts in the United States and European Union</h5>
      
      <p><small>As a general matter, we will familiarize ourselves with all applicable federal, state, and local laws that apply to fitness accommodation. Hosts should contact Circle customer service if they have any questions about their obligations to comply with this Circle Nondiscrimination Policy. Circle will release further discrimination policy guidance for jurisdictions outside the United States in the near future. Guided by these principles, our U.S. and EU host community will follow these rules when considering potential guests and hosting guests:</small></p>
      
      <h5>Race, Color, Ethnicity, National Origin, Religion, Sexual Orientation, Gender Identity, or Marital Status</h5>
      
      <ul class="small">
        <li>Circle hosts may not</li>
        <ul>
          <li>Decline a guest based on race, color, ethnicity, national origin, religion, sexual orientation, gender identity, or marital status.</li>
          <li>Impose any different terms or conditions based on race, color, ethnicity, national origin, religion, sexual orientation, gender identity, or marital status.</li>
          <li>Post any listing or make any statement that discourages or indicates a preference for or against any guest on account of race, color, ethnicity, national origin, religion, sexual orientation, gender identity, or marital status.</li>
        </ul>
      </ul>
      
      <h5>Gender</h5>
      
      <ul class="small">
        <li>Circle hosts may not</li>
        <ul>
          <li>Impose any different terms or conditions based on gender.</li>
        </ul>
      </ul>
      
      <h5>Disability</h5>
      
      <ul class="small">
        <li>Circle hosts may not</li>
        <ul>
          <li>Decline a guest based on any actual or perceived disability.</li>
          <li>Impose any different terms or conditions based on the fact that the guest has a disability.</li>
          <li>Substitute their own judgment about whether a unit meets the needs of a guest with a disability for that of the prospective guest.</li>
          <li>Inquire about the existence or severity of a guest’s disability, or the means used to accommodate any disability. If, however, a potential guest raises his or her disability, a host may, and should, discuss with the potential guest whether the listing meets the potential guest’s needs.</li>
          <li>Prohibit or limit the use of mobility devices.</li>
          <li>Charge more in rent or other fees for guests with disabilities.</li>
          <li>Post any listing or make any statement that discourages or indicates a preference for or against any guest on account of the fact that the guest has a disability.</li>
          <li>Refuse to communicate with guests through accessible means that are available, including relay operators (for people with hearing impairments) and e-mail (for people with vision impairments using screen readers).</li>
          <li>Refuse to provide reasonable accommodations, including flexibility when guests with disabilities request modest changes in your gym rules, such as bringing an assistance animal that is necessary because of the disability, or using an available parking space near the unit. When a guest requests such an accommodation, the host and the guest should engage in a dialogue to explore mutually agreeable ways to ensure the unit meets the guest’s needs.</li>
        </ul>
        <br>
        <li>Circle hosts may:</li>
        <ul>
          <li>Provide factually accurate information about the unit’s accessibility features (or lack of them), allowing for guests with disabilities to assess for themselves whether the unit is appropriate to their individual needs.</li>
        </ul>
      </ul>
      
      <p><small><strong>When guests are turned down. </strong>Hosts should keep in mind that no one likes to be turned down. While a host may have, and articulate, lawful and legitimate reasons for turning down a potential guest, it may cause that member of our community to feel unwelcome or excluded. Hosts should make every effort to be welcoming to guests of all backgrounds. Hosts who demonstrate a pattern of rejecting guests from a protected class (even while articulating legitimate reasons), undermine the strength of our community by making potential guests feel unwelcome, and Circle may suspend hosts who have demonstrated such a pattern from the Circle platform.</small></p>
      
      <h5>Specific Guidance for Hosts Outside the United States and European Union</h5>
      
      <p><small>Outside of the United States and the European Union, some countries or communities may allow or even require people to make accommodation distinctions based on, for example, marital status, national origin, gender or sexual orientation, in violation of our general nondiscrimination philosophy. In these cases, we do not require hosts to violate local laws, nor to accept guests that could expose the hosts to a real and demonstrable risk of arrest, or physical harm to their persons or property. Hosts who live in such areas should set out any such restriction on their ability to host particular guests in their listing, so that prospective guests are aware of the issue and Circle can confirm the necessity for such an action. In communicating any such restrictions, we expect hosts to use clear, factual, non-derogatory terms. Slurs and insults have no place on our platform or in our community.</small></p>
      
      <h5>What happens when a host does not comply with our policies in this area?</h5>
      
      <p><small>If a particular listing contains language contrary to this nondiscrimination policy, the host will be asked to remove the language and affirm his or her understanding and intent to comply with this policy and its underlying principles. Circle may also, in its discretion, take steps up to and including suspending the host from the Circle platform.</small></p>
      
      <p><small>If the host improperly rejects guests on the basis of protected class, or uses language demonstrating that his or her actions were motivated by factors prohibited by this policy, Circle will take steps to enforce this policy, up to and including suspending the host from the platform.</small></p>
      
      <p><small>As the Circle community grows, we will continue to ensure that Circle’s policies and practices align with our most important goal: To ensure that guests and hosts feel welcome and respected in all of their interactions using the Circle platform. The public, our community, and we ourselves, expect no less than this.</small></p>
      
    </div>
  </div>
</div>