<div class="terms">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <br>
      <aside class="visible-md visible-lg">
        <ul class="about no-bullet">
          <li class="sidebar-item"><p><%= link_to "Terms of Service", terms_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Nondiscrimination Policy", terms_nondiscrimination_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Payments Terms of Service", terms_payments_terms_path, class: "sidebar-link active" %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Privacy Policy", terms_privacy_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Host Guarantee", terms_host_guarantee_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Guest Refund", terms_guest_refund_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Copyright Policy", terms_copyright_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Cookie Policy", terms_cookie_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Trainer and Guest Release and Waiver", terms_guest_waiver_path %></p></li>
        </ul>
      </aside>
    </div>
    
    <div class="col-md-6">
      <h2 class="visible-md visible-lg">Payments Terms of Service</h2>
      <h2 class="visible-xs visible-sm">Payments Terms of Service</h2>

      <br> 
      
      <p><small><strong>Please read these Payments Terms of Service carefully as they contain important information about your legal rights, remedies and obligations. By using the Payment Services, you agree to comply with and be bound by these Payments Terms of Service.</strong></small></p>
      
      <p><small>These Payments Terms of Service (“Payments Terms”) constitute a legally binding agreement (“Agreement”) between you and Circle Payments governing the Payment Services (defined below) conducted through or in connection with the Circle Platform.</small></p>
      
      <p><small>The Circle Terms of Service (“Circle Terms”) separately govern your use of the Circle Platform. All capitalized terms have the meaning set forth in the Circle Terms unless otherwise defined in these Payments Terms.</small></p>
      
      <p><small>Our collection and use of personal information in connection with your access to and use of the Payment Services is described in Circle’s Privacy Policy.</small></p>
      
      <ol>
        <h4><li>Scope and Use of the Payment Services</li></h4>
        
        <p><small>1.1 Circle Payments provides payments services to Members, including payment collection services, payments and payouts, in connection with and through the Circle Platform (“Payment Services”).</small></p>
        
        <p><small>1.2 Circle Payments may restrict the availability of the Payment Services, or certain services or features thereof, to carry out maintenance measures that ensure the proper or improved functioning of the Payment Services. Circle Payments may improve, enhance and modify the Payment Services and introduce new Payment Services from time to time.</small></p>
        
        <p><small>1.3 The Payment Services may contain links to third-party websites or resources (“Third-Party Services”). Such Third-Party Services are subject to different terms and conditions and privacy practices and Members should review them independently. Circle Payments is not responsible or liable for the availability or accuracy of such Third-Party Services, or the content, products, or services available from such Third-Party Services. Links to such Third-Party Services are not an endorsement by Circle Payments of such Third-Party Services.</small></p>
        
        <p><small>1.4 You may not use the Payment Services except as authorized by United States law, the laws of the jurisdiction in which you reside, and any other applicable laws. In particular, but without limitation, the Payment Services may not be used to send or receive funds: (i) into any United States embargoed countries; or (ii) to anyone on the U.S. Treasury Department’s list of Specially Designated Nationals or the U.S. Department of Commerce’s Denied Persons List or Entity List. You represent and warrant that: (i) neither you nor your Host Services are located or take place in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties. In addition to complying with the above, you must also comply with any relevant export control laws in your local jurisdiction.</small></p>
        
        <p><small>1.5 Your access to or use of certain Payment Services may be subject to, or require you to accept, additional terms and conditions. If there is a conflict between these Payments Terms and terms and conditions applicable for a specific Payment Service, the latter terms and conditions will take precedence with respect to your use of or access to that Payment Service, unless specified otherwise.</small></p>
        
        <h4><li>Key Definitions</li></h4>
        
        <p><small>"<strong>Adjusted Exchange Rate</strong>" means the Base Exchange Rate plus a 3% fee charged by Circle for certain cross-border transactions.</small></p>
        
        <p><small>"<strong>Base Exchange Rate</strong>" means a system-wide rate used by Circle Payments if the Booking Currency is different than the Listing Country Currency. It does not include any fee or mark-up by Circle Payments. Circle Payments establishes the Base Exchange Rate using data from one or more third parties such as OANDA (www.oanda.com).</small></p>
        
        <p><small>"<strong>Booking Currency</strong>" means the currency in which a Guest pays for his or her booking. The Guest will be able to see (and in some cases, select) their Booking Currency when checking out. The Booking Currency for a booking may be different from the relevant Listing Country Currency.</small></p>
        
        <p><small>"<strong>Listing Country Currency</strong>" means the default currency associated with the country in which the Listing is located. For example, the Listing Country Currency for a Listing located in New York would be U.S. dollars, and the Listing Country Currency for a Listing located in Japan would be Japanese Yen.</small></p>
        
        <p><small>"<strong>Payout</strong>" means a payment initiated by Circle Payments to a Member for services (such as Listing Fees) performed in connection with the Circle Platform.</small></p>
        
        <p><small>"<strong>Payment Method</strong>" means a financial instrument that you have added to your Circle Account, such as a credit card or debit card.</small></p>
        
        <p><small>"<strong>Payout Method</strong>" means a financial instrument that you have added to your Circle Account, such as a PayPal account, direct deposit, a prepaid card, or a debit card (where available).</small></p>
        
        <h4><li>Modification of these Payments Terms</li></h4>
        
        <p><small>Circle Payments reserves the right to modify these Payments Terms at any time in accordance with this provision. If we make changes to these Payments Terms, we will post the revised Payments Terms on the Circle Platform and update the “Last Updated” date at the top of these Payments Terms. We will also provide you with notice by email of the modification at least thirty (30) days before the date they become effective. If you disagree with the revised Payments Terms, you may terminate this Agreement with immediate effect. We will inform you about your right of refusal and your right to terminate this Agreement in the notification email. If you do not terminate your Agreement before the date the revised Terms become effective, your continued use of the Payment Services will constitute acceptance of the revised Payments Terms.</small></p>
        
        <h4><li>Eligibility, Member Verification</li></h4>
        
        <p><small>4.1 You must be at least 18 years old and able to enter into legally binding contracts to use the Payment Services. By using the Payment Services you represent and warrant that you are 18 or older.</small></p>
        
        <p><small>4.2 If you are agreeing to these Payments Terms on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Payments Terms and, in such event, “you” and “your” will refer and apply to that company or other legal entity.</small></p>
        
        <p><small>4.3 Circle Payments may make access to and use of certain areas or features of the Payment Services subject to certain conditions or requirements, such as completing a verification process or meeting specific eligibility criteria.</small></p>
        
        <p><small>4.4 We may make inquiries we consider necessary to help verify or check your identity or prevent fraud. In some jurisdictions, we have a legal obligation to collect identity information to comply with anti-money laundering regulations. This may include (i) asking you to provide a form of government identification (e.g., driver’s license or passport), your date of birth, your address, and other information; (ii) requiring you to take steps to confirm ownership of your email address, Payment Methods or Payout Methods; or (iii) attempting to screen your information against third-party databases. Circle Payments reserves the right to close, suspend, or limit access to the Payment Services in the event we are unable to obtain or verify any of this information.</small></p>
        
        <h4><li>Account Registration</li></h4>
        
        <p><small>5.1 In order to use the Payment Services, you must have an Circle Account in good standing. If you or Circle closes your Circle Account for any reason, you will no longer be able to use the Payment Services.</small></p>
        
        <p><small>5.2 You may authorize a third party to use your Circle Account in accordance with the Circle Terms. You acknowledge and agree that anyone you authorize to use your Circle Account may use the Payment Services on your behalf and that you will be responsible for any payments made by such person.</small></p>
        
        <h4><li>Payment Methods and Payout Methods</li></h4>
        
        <p><small>6.1 When you add a Payment Method or Payout Method to your Circle Account, you will be asked to provide customary billing information such as name, billing address, and financial instrument information either to Circle Payments or its third-party payment processor(s). You must provide accurate, current, and complete information when adding a Payment Method or Payout Method, and it is your obligation to keep your Payment Method and Payout Method up-to-date at all times.</small></p>
        
        <p><small>6.2 Please note that Payment Methods and Payout Methods may involve the use of third-party payment service providers. These service providers may charge you additional fees when processing payments and Payouts in connection with the Payment Services (including deducting charges from the Payout amount), and Circle Payments is not responsible for any such fees and disclaims all liability in this regard. Your Payment Method or Payout Method may also be subject to additional terms and conditions imposed by the applicable third-party payment service provider; please review these terms and conditions before using your Payment Method or Payout Method.</small></p>
        
        <p><small>6.3 You authorize Circle Payments to store your Payment Method information and charge your Payment Method as outlined in these Payments Terms. If your Payment Method’s account information changes (e.g., account number, routing number, expiration date) as a result of re-issuance or otherwise, we may acquire that information from our financial services partner or your bank and update your Payment Method on file in your Circle Account.</small></p>
        
        <p><small>6.4 You are solely responsible for the accuracy and completeness of your Payment Method and Payout Method information. Circle Payments is not responsible for any loss suffered by you as a result of incorrect Payment Method or Payout Method information provided by you.</small></p>
        
        <h4><li>Financial Terms for Hosts</li></h4>
        
        <h5>7.1 Generally</h5>
        
        <p><small>Generally speaking, Circle Payments will collect the Total Fees from a Guest at the time the Guest’s booking request is accepted by the host, or at any other time mutually agreed between the Guest and Circle Payments.</small></p>
        
        <h5>7.2. Payouts</h5>
        
        <p><small>7.2.1 In order to receive a Payout you must have a valid Payout Method linked to your Circle Account. Circle Payments will generally initiate Payouts to your selected Payout Method on the first day of every month.</small></p>
        
        <p><small>7.2.2 Your Payout for a booking will be the Listing Fee less applicable Host Fees and Taxes.</small></p>
        
        <p><small>7.2.3 For compliance or operational reasons, Circle Payments may limit the value of each individual Payout. If you are due an amount above that limit, Circle may initiate a series of Payouts (potentially over multiple days) in order to provide your full payout amount.</small></p>
        
        <h4><li>Financial Terms for Guests</li></h4>
        
        <p><small>8.1 You authorize Circle Payments to charge your Payment Method the Total Fees for any booking requested in connection with your Circle Account. Circle Payments will collect the Total Fees in the manner agreed between you and Circle Payments via the Circle Platform. Circle Payments will generally collect the Total Fees after the Host accepts your booking request. Circle Payments may offer alternative options for the timing and manner of payment; any additional fees for using offered payment options will be displayed via the Circle Platform and included in the Total Fees, and you agree to pay such fees by selecting the payment option. If Circle Payments is unable to collect the Total Fees as scheduled, Circle Payments will collect the Total Fees at a later point. Once the payment transaction for your requested booking is successfully completed you will receive a confirmation email.</small></p>
        
        <p><small>8.2 When you request to book a Listing, Circle Payments may also (i) obtain a pre-authorization via your Payment Method for the Total Fees or (ii) charge or authorize your Payment Method a nominal amount, not to exceed one dollar ($1), or a similar sum in the currency in which you are transacting (e.g., one euro or one British pound), to verify your Payment Method.</small></p>
        
        <p><small>8.3 You authorize Circle Payments to perform the Payment Method verifications described in Sections 6 and 8, and to charge your Payment Method for any bookings made in connection with your Circle Account. You hereby authorize Circle Payments to collect any amounts due by charging the Payment Method provided at checkout, either directly by Circle Payments or indirectly, via a third-party online payment processor, and/or by one or more of the payment methods available on the Circle Platform.</small></p>
        
        <p><small>8.4 If Circle Payments is unable collect any amounts due via your selected Payment Method, you authorize Circle Payments to charge any other Payments Methods on file in your Circle Account (unless you have previously removed the authorization to charge such Payment Method(s)). You also authorize Circle Payments to charge any Payment Method on file in your Circle Account in the event of a Damage Claim pursuant to Section 12 (“Damage to Accommodations and Security Deposits”).</small></p>
        
        <p><small>8.5 Circle Payments is not responsible for any fees that a Guest’s third-party payment service provider may impose when Circle Payments charges the Guest’s Payment Method, and Circle Payments disclaims all liability in this regard.</small></p>
        
        <h4><li>Appointment of Circle Payments as Limited Payment Collection Agent</li></h4>
        
        <p><small>9.1 Each Member collecting payment for services provided via the Circle Platform (such as Host Services or transactions facilitated through the Resolution Center) (“Providing Member”) hereby appoints Circle Payments as the Providing Member’s payment collection agent solely for the limited purpose of accepting funds from Members purchasing such services (“Purchasing Members”).</small></p>
        
        <p><small>9.2 Each Providing Member agrees that payment made by a Purchasing Member through Circle Payments, shall be considered the same as a payment made directly to the Providing Member, and the Providing Member will provide the purchased services to the Purchasing Member in the agreed-upon manner as if the Providing Member has received the payment directly from the Purchasing Member. Each Providing Member agrees that Circle Payments may refund the Purchasing Member in accordance with the Circle Terms. Each Providing Member understands that Circle Payments’ obligation to pay the Providing Member is subject to and conditional upon successful receipt of the associated payments from Purchasing Members. Circle Payments guarantees payments to Providing Members only for such amounts that have been successfully received by Circle Payments from Purchasing Members in accordance with these Payments Terms. In accepting appointment as the limited payment collection agent of the Providing Member, Circle Payments assumes no liability for any acts or omissions of the Providing Member.</small></p>
        
        <p><small>9.3 Each Purchasing Member acknowledges and agrees that, notwithstanding the fact that Circle Payments is not a party to the agreement between you and the Providing Member, Circle Payments acts as the Providing Member’s payment collection agent for the limited purpose of accepting payments from you on behalf of the Providing Member. Upon your payment of the funds to Circle Payments, your payment obligation to the Providing Member for the agreed upon amount is extinguished, and Circle Payments is responsible for remitting the funds to the Providing Member in the manner described in these Payments Terms, which constitute Circle Payments’ agreement with the Purchasing Member. In the event that Circle Payments does not remit any such amounts, the Providing Member will have recourse only against Circle Payments and not the Purchasing Member directly.</small></p>
        
        <h4><li>General Financial Terms</li></h4>
        
        <h5>10.1 Service Fees and Other Fees</h5>
        
        <p><small>10.1.1 Circle Payments collects the Service Fees charged by Circle pursuant to the Circle Terms. Where applicable, Circle Payments may also collect Taxes (such as VAT in Europe) in respect of the Host Fees and Guest Fees. Circle Payments deducts the Host Fees from the Listing Fees before remitting the Payout to the Host as described in these Payments Terms. Guest Fees are included in the Total Fees collected by Circle Payments.</small></p>
        
        <p><small>10.1.2 More information about when Services Fees apply and how they are calculated can be found on our Service Fees page. Circle Payments may charge additional fees for use of certain Payment Services and any applicable fees will be disclosed to Members via the Circle Platform.</small></p>
        
        <h5>10.2 Resolution Center</h5>
        
        <p><small>You agree that Circle Payments may collect from you any amount paid through the Resolution Center in connection with your Circle Account by charging the Payment Method associated with the relevant booking or any other Payment Method on file in your Circle Account, or by withholding the amount from your future Payouts. Circle Payments will process such payments otherwise in accordance with these Payments Terms.</small></p>
        
        <h5>10.3 Payment Processing Errors</h5>
        
        <p><small>We will take steps to rectify any payment processing errors that we become aware of. These steps may include crediting or debiting (as appropriate) the same Payout Method or Payment Method used for the original Payout to or payment by you, so that you end up receiving or paying the correct amount.</small></p>
        
        <h5>10.4 Collections</h5>
        
        <p><small>If Circle Payments is unable to collect any amounts you owe under these Payments Terms, Circle Payments may engage in collection efforts to recover such amounts from you. Circle Payments will deem any owed amounts overdue when: (a) for authorized charges, ninety (90) days have elapsed after Circle Payments first attempts to charge the Member’s Payment Method or the associated services have been provided, whichever is later; and (b) for withholdings from a Host’s future Payouts, one hundred and eighty (180) days have elapsed after the adjustment is made to the Host’s account or the associated services have been provided, whichever is later. Any overdue amounts not collected within one hundred and eighty (180) days after they become overdue will be deemed to be in default. You hereby explicitly agree that all communication in relation to amounts owed will be made by electronic mail or by phone, as provided to Circle and/or Circle Payments by you. Such communication may be made by Circle, Circle Payments, or by anyone on their behalf, including but not limited to a third-party collection agent.</small></p>
        
        <h4><li>Taxes</li></h4>
        
        <p><small>11.1 In any jurisdiction where Circle facilitates Collection and Remittance pursuant to the Circle Terms, you hereby instruct and authorize Circle Payments to collect Occupancy Taxes from Guests on the Host’s behalf at the time the Listing Fees are collected, and to remit such Occupancy Taxes to the Tax Authority. The amount of Occupancy Taxes, if any, collected and remitted by Circle Payments will be visible to and separately stated to both Guests and Hosts on their respective transaction documents. You expressly agree to release, defend, indemnify, and hold Circle Payments and its affiliates and subsidiaries, and their officers, directors, employees, and agents, harmless from and against any claims, liabilities, damages, losses, debts, obligations, and expenses, including, without limitation, reasonable legal and/or accounting fees, arising out of or in any way related to Occupancy Taxes, including, without limitation, the applicability of, calculation, collection or remittance of Occupancy Taxes in any amount or at all as to your transactions or Accommodations.</small></p>
        
        <p><small>11.2 You agree that any claim or cause of action relating to Circle Payments’ facilitation of Collection and Remittance shall not extend to any supplier or vendor that may be used by Circle in connection with facilitation of Collection and Remittance of Occupancy Taxes, if any. Guests and Hosts agree that we may seek additional amounts from you in the event that the Taxes collected and/or remitted are insufficient to fully discharge your obligations to the Tax Authority, and agree that your sole remedy for Occupancy Taxes collected is a refund of Occupancy Taxes collected by Circle from the applicable Tax Authority in accordance with applicable procedures set by that Tax Authority.</small></p>
        
        <h4><li>Damage to Accommodations and Security Deposits</li></h4>
        
        <p><small>12.1 If you as a Guest (i) agree to pay the Host in connection with a Damage Claim, or (ii) Circle determines that you are responsible for damaging an Accommodation or any personal or other property located at an Accommodation pursuant to the Circle Terms, you authorize Circle Payments to charge the Payment Method used to make the booking in order to collect any Security Deposit associated with the Listing, as well as any amount of the Damage Claim exceeding any Security Deposit. If the Listing does not have a Security Deposit, Circle Payments may charge the Payment Method used to make the booking for the amount of the Damage Claim. If we are unable to collect from your Payment Method used to make the booking, you agree that Circle Payments may charge any other Payment Method on file (and not otherwise unauthorized) in your Circle Account at the time of the Damage Claim.</small></p>
        
        <p><small>12.2 Circle Payments also reserves the right to otherwise collect payment from you and pursue any remedies available to Circle Payments in situations in which you are responsible for a Damage Claim, including, but not limited to, in relation to any payment requests made by Hosts under the Circle Host Guarantee.</small></p>
        
        <h4><li>Prohibited Activities</li></h4>
        
        <p><small>You are solely responsible for compliance with any and all laws, rules, regulations, and Tax obligations that may apply to your use of the Payment Services. In connection with your use of the Payment Services, you may not and you agree that you will not and will not assist or enable others to:</small></p>
        
        <ul>
          <li>
            <p><small>breach or circumvent any applicable laws or regulations, agreements with third parties, third-party rights, or the Circle Terms, Policies, or Standards;</small></p>
          </li>
          <li>
            <p><small>use the Payment Services for any commercial or other purposes that are not expressly permitted by these Payments Terms;</small></p>
          </li>
          <li>
            <p><small>register or use any Payment Method or Payout Method with your Circle Account that is not yours or you do not have authorization to use;</small></p>
          </li>
          <li>
            <p><small>avoid, bypass, remove, deactivate, impair, descramble, or otherwise circumvent any technological measure implemented by Circle Payments or any of Circle Payments’ providers or any other third party to protect the Payment Services;</small></p>
          </li>
          <li>
            <p><small>take any action that damages or adversely affects, or could damage or adversely affect, the performance or proper functioning of the Payment Services;</small></p>
          </li>
          <li>
            <p><small>attempt to decipher, decompile, disassemble, or reverse engineer any of the software used to provide the Payment Services; or</small></p>
          </li>
          <li>
            <p><small>violate or infringe anyone else’s rights or otherwise cause harm to anyone.</small></p>
          </li>
        </ul>
        
        <h4><li>Intellectual Property Ownership, Rights Notices</li></h4>
        
        <p><small>14.1 The Payment Services are protected by copyright, trademark, and other laws of the United States and foreign countries. You acknowledge and agree that the Payment Services, including all associated intellectual property rights, are the exclusive property of Circle, Circle Payments and its licensors. You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Payment Services. All trademarks, service marks, logos, trade names, and any other proprietary designations of Circle or Circle Payments used on or in connection with the Payment Services are trademarks or registered trademarks of Circle or Circle Payments in the United States and abroad. Trademarks, service marks, logos, trade names, and any other proprietary designations of third parties used on or in connection with Payment Services are used for identification purposes only and may be the property of their respective owners.</small></p>
        
        <p><small>14.2 You will not use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, broadcast, or otherwise exploit the Payment Services, except as expressly permitted in these Payments Terms. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by Circle, Circle Payments, or its licensors, except for the licenses and rights expressly granted in these Payments Terms.</small></p>
        
        <h4><li>Feedback</li></h4>
        
        <p><small>We welcome and encourage you to provide feedback, comments, and suggestions for improvements to the Payment Services (“Feedback”). You may submit Feedback by emailing us at support@circle.fit. Any Feedback you submit to us will be considered non-confidential and non-proprietary to you. By submitting Feedback to us, you grant us a non-exclusive, worldwide, royalty-free, irrevocable, sub-licensable, perpetual license to use and publish those ideas and materials for any purpose, without compensation to you.</small></p>
        
        <h4><li>Disclaimers</li></h4>
        
        <p><small><strong>16.1 If you choose to use the Payment Services, you do so voluntarily and at your sole risk. The Payment Services are provided “as is”, without warranty of any kind, either express or implied.</strong></small></p>
        
        <p><small><strong>16.2 Notwithstanding Circle Payments’ appointment as the limited payment collection agent of Providing Members for the purposes of accepting payments from Purchasing Members through the Circle Platform, Circle Payments explicitly disclaims all liability for any act or omission of any Member or other third party. Circle Payments does not have any duties or obligations as agent for each Providing Member except to the extent expressly set forth in these Payments Terms, and any additional duties or obligations as may be implied by law are expressly excluded.</strong></small></p>
        
        <p><small><strong>16.3 If we choose to conduct identity verification on any Member, to the extent permitted by applicable law, we disclaim warranties of any kind, either express or implied, that such checks will identify prior misconduct by a Member or guarantee that a Member will not engage in misconduct in the future.</strong></small></p>
        
        <p><small><strong>16.4 The foregoing disclaimers apply to the maximum extent permitted by law. You may have other statutory rights. However, the duration of statutorily required warranties, if any, shall be limited to the maximum extent permitted by law.</strong></small></p>
        
        <h4><li>Liability</li></h4>
        
        <p><small><strong>You acknowledge and agree that, to the maximum extent permitted by law, the entire risk arising out of your access to and use of the Payment Services remains with you. If you permit or authorize another person to use your Circle Account in any way, you are responsible for the actions taken by that person. Neither Circle Payments nor any other party involved in creating, producing, or delivering the Payment Services will be liable for any incidental, special, exemplary, or consequential damages, including lost profits, loss of data or loss of goodwill, service interruption, computer damage or system failure or the cost of substitute products or services, or for any damages for personal or bodily injury or emotional distress arising out of or in connection with (i) these Payments Terms, (ii) from the use of or inability to use the Payment Services, or (iii) from any communications, interactions, or meetings with other Members or other persons with whom you communicate, interact, transact, or meet with as a result of your use of the Payment Services, whether based on warranty, contract, tort (including negligence), product liability, or any other legal theory, and whether or not Circle Payments has been informed of the possibility of such damage, even if a limited remedy set forth herein is found to have failed of its essential purpose. Except for our obligations to pay amounts to applicable Providing Members pursuant to these Payments Terms or an approved payment request under the Circle Host Guarantee, in no event will Circle Payments’ aggregate liability arising out of or in connection with these Payments Terms and your use of the Payment Services including, but not limited to, from your use of or inability to use the Payment Services, exceed the amounts you have paid or owe for bookings via the Circle Platform as a Guest in the twelve (12) month period prior to the event giving rise to the liability, or if you are a Host, the amounts paid by Circle Payments to you in the twelve (12) month period prior to the event giving rise to the liability, or one hundred U.S. dollars (US$100), if no such payments have been made, as applicable. The limitations of damages set forth above are fundamental elements of the basis of the bargain between Circle Payments and you. Some jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damages, so the above limitation may not apply to you. If you reside outside of the U.S., this does not affect Circle Payments’ liability for death or personal injury arising from its negligence, nor for fraudulent misrepresentation, misrepresentation as to a fundamental matter, or any other liability which cannot be excluded or limited under applicable law.</strong></small></p>
        
        <h4><li>Indemnification</li></h4>
        
        <p><small>You agree to release, defend (at Circle’s option), indemnify, and hold Circle Payments and its affiliates and subsidiaries, and their officers, directors, employees, and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with (i) your breach of these Payments Terms; (ii) your improper use of the Payment Services; (iii) Circle Payments’ Collection and Remittance of Occupancy Taxes; or (iv) your breach of any laws, regulations, or third-party rights.</small></p>
        
        <h4><li>Termination, Suspension, and other Measures</li></h4>
        
        <p><small>19.1 You may terminate this Agreement at any time by sending us an email, or by following the termination procedures specified in the Circle Terms. Terminating this Agreement will also serve as notice to cancel your Circle Account pursuant to the Circle Terms. If you cancel your Circle Account as a Host, Circle Payments will provide a full refund to any Guests with confirmed booking(s). If you cancel your Circle Account as a Guest, Circle Payments will initiate a refund for any confirmed booking(s) based on the Listing’s cancellation policy.</small></p>
        
        <p><small>19.2 Without limiting our rights specified below, Circle Payments may terminate this Agreement for convenience at any time by giving you thirty (30) days' notice via email to your registered email address</small></p>
        
        <p><small>19.3 Circle Payments may immediately, without notice terminate this Agreement if (i) you have materially breached your obligations under this Agreement; (ii) you have provided inaccurate, fraudulent, outdated, or incomplete information; (iii) you have violated applicable laws, regulations, or third-party rights; or (iv) Circle Payments believes in good faith that such action is reasonably necessary to protect other Members, Circle, Circle Payments, or third parties (for example in the case of fraudulent behavior of a Member).</small></p>
        
        <p><small>19.4 In addition, Circle Payments may limit or temporarily or permanently suspend your use of or access to the Payment Services (i) to comply with applicable law, or the order or request of a court, law enforcement, or other administrative agency or governmental body, or if (ii) you have breached these Payments Terms, the Circle Terms, applicable laws, regulations or third-party rights, (iii) you have provided inaccurate, fraudulent, outdated, or incomplete information regarding a Payment Method or Payout Method, or (iv) Circle Payments believes in good faith that such action is reasonably necessary to protect the personal safety or property of Circle, its Members, Circle Payments, or third parties, or to prevent fraud or other illegal activity.</small></p>
        
        <p><small>19.5 In case of non-material breaches and where appropriate, you will be given notice of any measure by Circle Payments and an opportunity to resolve the issue to Circle Payments' reasonable satisfaction.</small></p>
        
        <p><small>19.6 If you are a Host and we take any of the measures described in this Section we may refund your Guests in full for any and all confirmed bookings, irrespective of preexisting cancellation policies, and you will not be entitled to any compensation for pending or confirmed bookings that were cancelled.</small></p>
        
        <p><small>19.7 If your access to or use of the Payment Services has been limited or this Agreement has been terminated by us, you may not register a new Circle Account or attempt to access and use the Payment Services through other an Circle Account of another Member.</small></p>
        
        <h4><li>Dispute Resolution and Arbitration Agreement</li></h4>
        
        <p><small>20.1 This Dispute Resolution and Arbitration Agreement shall apply if you (i) are contracting with Circle Payments US; or (ii) bring any claim against any Circle Payments entity in the United States</small></p>
        
        <p><small><strong>20.2 Agreement to Arbitrate. You and Circle Payments mutually agree that any dispute, claim or controversy arising out of or relating to these Payments Terms or the breach, termination, enforcement or interpretation thereof, or to the use of the Payment Services (collectively, “Disputes”) will be settled by binding arbitration (the “Arbitration Agreement”). If there is a dispute about whether this Arbitration Agreement can be enforced or applies to our Dispute, you and Circle Payments agree that the arbitrator will decide that issue.</strong></small></p>
        
        <p><small>20.3 Exceptions to Arbitration Agreement. You and Circle Payments each agree that the following claims are exceptions to the Arbitration Agreement and will be brought in a judicial proceeding in a court of competent jurisdiction: (i) Any claim related to actual or threatened infringement, misappropriation or violation of a party’s copyrights, trademarks, trade secrets, patents, or other intellectual property rights; (ii) Any claim seeking emergency injunctive relief based on exigent circumstances (e.g., imminent danger or commission of a crime, hacking, cyber-attack).</small></p>
        
        <p><small><strong>20.4 Jury Trial Waiver. You and Circle Payments acknowledge and agree that we are each waiving the right to a trial by jury as to all arbitrable Disputes.</strong></small></p>
        
        <p><small><strong>20.5 No Class Actions or Representative Proceedings. You and Circle Payments acknowledge and agree that we are each waiving the right to participate as a plaintiff or class member in any purported class action lawsuit, class-wide arbitration, private attorney-general action, or any other representative proceeding as to all Disputes. Further, unless you and Circle Payments both otherwise agree in writing, the arbitrator may not consolidate more than one party’s claims and may not otherwise preside over any form of any class or representative proceeding. If this paragraph is held unenforceable with respect to any Dispute, then the entirety of the Arbitration Agreement will be deemed void with respect to such Dispute.</strong></small></p>
        
        <h4><li>General Provisions</li></h4>
        
        <p><small>21.1 Except as they may be supplemented by additional terms and conditions, policies, guidelines, or standards, these Payments Terms constitute the entire Agreement between Circle Payments and you regarding the subject matter hereof, and supersede any and all prior oral or written understandings or agreements between Circle Payments and you regarding the Payment Services.</small></p>
        
        <p><small>21.2 No joint venture, partnership, employment, or agency relationship exists between you or Circle Payments as a result of this Agreement or your use of the Payment Services.</small></p>
        
        <p><small>21.3 If any provision of these Payments Terms is held to be invalid or unenforceable, such provision will be struck and will not affect the validity and enforceability of the remaining provisions.</small></p>
        
        <p><small>21.4 Circle Payments’ failure to enforce any right or provision in these Payments Terms will not constitute a waiver of such right or provision unless acknowledged and agreed to by us in writing. Except as expressly set forth in these Payments Terms, the exercise by either party of any of its remedies under these Payments Terms will be without prejudice to its other remedies under these Payments Terms or otherwise permitted under law.</small></p>
        
        <p><small>21.5 You may not assign, transfer, or delegate this Agreement and your rights and obligations hereunder without Circle Payments’ prior written consent. Circle Payments may without restriction assign, transfer, or delegate this Agreement and any rights and obligations, at its sole discretion, with thirty (30) days’ prior notice. Your right to terminate this Agreement at any time remains unaffected.</small></p>
        
        <p><small>21.6 This Agreement does not and is not intended to confer any rights or remedies upon any person other than the parties. Notwithstanding the foregoing, the parties agree that the payment card networks are third-party beneficiaries of this Agreement for purposes of enforcing provisions related to payments, but that their consent or agreement is not necessary for any changes or modifications to this Agreement.</small></p>
        
        <p><small>24.7 Unless specified otherwise, any notices or other communications permitted or required under this Agreement, will be in writing and given by Circle Payments via email, Circle Platform notification, or messaging service (including SMS). </small></p>
        
        <h4><li>Contacting Circle Payments</li></h4>
        
        <p>
          <small>
            Circle Payments <br>
            c/o Circle Fitness Technologies, Inc. <br>
            395 Santa Monica Place, Unit 308 <br>
            Santa Monica, CA 90401 <br>
            support@circle.fit
          </small>
        </p>
      </ol>
    </div>
  </div>
</div>