<div class="terms">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <br>
      <aside class="visible-md visible-lg">
        <ul class="about no-bullet">
          <li class="sidebar-item"><p><%= link_to "Terms of Service", terms_path, class: "sidebar-link active" %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Nondiscrimination Policy", terms_nondiscrimination_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Payments Terms of Service", terms_payments_terms_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Privacy Policy", terms_privacy_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Host Guarantee", terms_host_guarantee_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Guest Refund", terms_guest_refund_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Copyright Policy", terms_copyright_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Cookie Policy", terms_cookie_policy_path %></p></li>
          
          <li class="sidebar-item"><p><%= link_to "Trainer and Guest Release and Waiver", terms_guest_waiver_path %></p></li>
        </ul>
      </aside>
    </div>
    <h2 class="visible-md visible-lg">Terms of Service</h2>
    <h2 class="visible-xs visible-sm">Terms of Service</h2>
    
    <br>
    
      <div class="col-md-9">
        <h5>Please read these Terms of Service carefully as they contain important information about your legal rights, remedies and obligations. By accessing or using the Circle Platform, you agree to comply with and be bound by these Terms of Service.</h5>
    
      <br>

      <p>Thank you for using Circle!</p>

      <p>These Terms of Service ("Terms") constitute a legally binding agreement ("Agreement") between you and Circle (as defined below) governing your access to and use of the Circle website, including any subdomains thereof, and any other websites through which Circle makes the Circle Services available (collectively, "Site"), our mobile, tablet and other smart device applications, and application program interfaces (collectively, "Application") and all associated services (collectively, "Circle Services"). The Site, Application and Circle Services together are hereinafter collectively referred to as the “Circle Platform”.</p>
      
      <p>When these Terms mention “Circle,” “we,” “us,” or “our,” it refers to the Circle company you are contracting with.</p>
      <ul class="list-bullet">
        <li>If you reside in the United States, you are contracting with Circle, Inc., 395 Santa Monica Place, Unit 308, Santa Monica, CA 90401, United States.</li>
      </ul>
      
      <p>Our collection and use of personal information in connection with your access to and use of the Circle Platform is described in our <a href="/terms/privacy_policy">Privacy Policy</a>.</p>
      
      <p>Any and all payment processing services through or in connection with your use of the Circle Platform ("Payment Services") are provided to you by one or more Circle Payments entities (individually and collectively, as appropriate, "Circle Payments") as set out in the Payments Terms of Service ("Payments Terms").</p>
      
      <ol>
        <h3><li>Scope and Use of the Payment Services</li></h3>
        
        <p>1.1 The Circle Platform is an online marketplace that enables registered users (“Members”) and certain third parties who offer services (Members and third parties who offer services are “Hosts” and the services they offer are “Host Services”) to publish such Host Services on the Circle Platform (“Listings”) and to communicate and transact directly with Members that are seeking to book such Host Services (Members using Host Services are “Guests”). Host Services may include the offering of fitness properties for use ("Accommodations").</p>
        
        <p>1.2 As the provider of the Circle Platform, Circle does not own, create, sell, resell, provide, control, manage, offer, deliver, or supply any Listings or Host Services. Hosts alone are responsible for their Listings and Host Services. When Members make or accept a booking, they are entering into a contract directly with each other. Circle is not and does not become a party to or other participant in any contractual relationship between Members, nor is Circle a real estate broker or insurer. Circle is not acting as an agent in any capacity for any Member, except as specified in the <%= link_to "Payments Terms", terms_payments_terms_path %>.</p>
        
        <p>1.3 While we may help facilitate the resolution of disputes, Circle has no control over and does not guarantee (i) the existence, quality, safety, suitability, or legality of any Listings or Host Services, (ii) the truth or accuracy of any Listing descriptions, Ratings, Reviews, or other Member Content (as defined below), or (iii) the performance or conduct of any Member or third party. Circle does not endorse any Member, Listing or Host Services. Any references to a Member being "verified" (or similar language) only indicate that the Member has completed a relevant verification or identification process and nothing else. Any such description is not an endorsement, certification or guarantee by Circle about any Member, including of the Member's identity or background or whether the Member is trustworthy, safe or suitable. You should always exercise due diligence and care when deciding whether to use an Accommodation, accept a booking request from a Guest, or communicate and interact with other Members, whether online or in person. Verified Images (as defined below) are intended only to indicate a photographic representation of a Listing at the time the photograph was taken, and are therefore not an endorsement by Circle of any Host or Listing.</p>
        
        <p>1.4 If you choose to use the Circle Platform as a Host, your relationship with Circle is limited to being an independent, third-party contractor, and not an employee, agent, joint venturer or partner of Circle for any reason, and you act exclusively on your own behalf and for your own benefit, and not on behalf, or for the benefit, of Circle.</p>
        
        <p>1.5 To promote the Circle Platform and to increase the exposure of Listings to potential Guests, Listings and other Member Content may be displayed on other websites, in applications, within emails, and in online and offline advertisements. To assist Members who speak different languages, Listings and other Member Content may be translated, in whole or in part, into other languages. Circle cannot guarantee the accuracy or quality of such translations and Members are responsible for reviewing and verifying the accuracy of such translations. The Circle Platform may contain translations powered by Google. Google disclaims all warranties related to the translations, express or implied, including any warranties of accuracy, reliability, and any implied warranties for merchantability, fitness for a particular purpose and noninfringement.</p>
        
        <p>1.6 The Circle Platform may contain links to third-party websites or resources (“Third-Party Services”). Such Third-Party Services may be subject to different terms and conditions and privacy practices. Circle is not responsible or liable for the availability or accuracy of such Third-Party Services, or the content, products, or services available from such Third-Party Services. Links to such Third-Party Services are not an endorsement by Circle of such Third-Party Services.</p>
        
        <p>1.7 Due to the nature of the Internet, Circle cannot guarantee the continuous and uninterrupted availability and accessibility of the Circle Platform. Circle may restrict the availability of the Circle Platform or certain areas or features thereof, if this is necessary in view of capacity limits, the security or integrity of our servers, or to carry out maintenance measures that ensure the proper or improved functioning of the Circle Platform. Circle may improve, enhance and modify the Circle Platform and introduce new Circle Services from time to time.</p>
        
        <h3><li>Eligibility, Using the Circle Platform, Member Verification</li></h3>
        
        <p>2.1 You must be at least 18 years old and able to enter into legally binding contracts to access and use the Circle Platform or register a Circle Account. By accessing or using the Circle Platform you represent and warrant that you are 18 or older and have the legal capacity and authority to enter into a contract.</p>
        
        <p>2.2 You will comply with any applicable export control laws in your local jurisdiction. You also represent and warrant that (i) neither you nor your Host Service(s) are located or take place in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a "terrorist supporting" country, and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.</p>
        
        <p>2.3 Circle may make the access to and use of the Circle Platform, or certain areas or features of the Circle Platform, subject to certain conditions or requirements, such as completing a verification process, meeting specific quality or eligibility criteria, meeting Ratings or Reviews thresholds, or booking and cancellation history.</p>
        
        <p>2.4 User verification on the Internet is difficult and we do not assume any responsibility for the confirmation of any Member’s identity. Notwithstanding the above, for transparency and fraud prevention purposes, and as permitted by applicable laws, we may, but have no obligation to (i) ask Members to provide a form of government identification or other information or undertake additional checks designed to help verify the identities or backgrounds of Members, (ii) screen Members against third party databases or other sources and request reports from service providers, and (iii) where we have sufficient information to identify a Member, obtain reports from public records of criminal convictions or sex offender registrations or an equivalent version of background or registered sex offender checks in your local jurisdiction (if available).</p>
        
        <p>2.5 The access to or use of certain areas and features of the Circle Platform may be subject to separate policies, standards or guidelines, or may require that you accept additional terms and conditions. If there is a conflict between these Terms and terms and conditions applicable to a specific area or feature of the Circle Platform, the latter terms and conditions will take precedence with respect to your access to or use of that area or feature, unless specified otherwise.</p>
        
        <p>2.6 If you access or download the Application from the Apple App Store, you agree to <a href="https://www.apple.com/legal/internet-services/itunes/dev/stdeula/">Apple’s Licensed Application End User License Agreement</a>. Some areas of the Circle Platform implement Google Maps/Earth mapping services, including Google Maps API(s). Your use of Google Maps/Earth is subject to the<a href="https://www.google.com/help/terms_maps.html"> Google Maps/Google Earth Additional Terms of Service</a>.</p>
        
        <h3><li>Modification of these Terms</li></h3>
        
        <p>Circle reserves the right to modify these Terms at any time in accordance with this provision. If we make changes to these Terms, we will post the revised Terms on the Circle Platform and update the “Last Updated” date at the top of these Terms. We will also provide you with notice of the modifications by email at least thirty (30) days before the date they become effective. If you disagree with the revised Terms, you may terminate this Agreement with immediate effect. We will inform you about your right to terminate the Agreement in the notification email. If you do not terminate your Agreement before the date the revised Terms become effective, your continued access to or use of the Circle Platform will constitute acceptance of the revised Terms.</p>
        
        <h3><li>Account Registration</li></h3>
        
        <p>4.1 You must register an account ("Circle Account") to access and use certain features of the Circle Platform, such as publishing or booking a Listing. If you are registering a Circle Account for a company or other legal entity, you represent and warrant that you have the authority to legally bind that entity and grant us all permissions and licenses provided in these Terms.</p>
        
        <p>4.2 You can register a Circle Account using an email address and creating a password, or through your account with certain third-party social networking services, such as Facebook ("SNS Account").</p>
        
        <p>4.3 You must provide accurate, current and complete information during the registration process and keep your Circle Account and public Circle Account profile page information up-to-date at all times.</p>
        
        <p>4.4 You may not register more than one (1) Circle Account unless Circle authorizes you to do so. You may not assign or otherwise transfer your Circle Account to another party.</p>
        
        <p>4.5 You are responsible for maintaining the confidentiality and security of your Circle Account credentials and may not disclose your credentials to any third party. You must immediately notify Circle if you know or have any reason to suspect that your credentials have been lost, stolen, misappropriated, or otherwise compromised or in case of any actual or suspected unauthorized use of your Circle Account. You are liable for any and all activities conducted through your Circle Account, unless such activities are not authorized by you and you are not otherwise negligent (such as failing to report the unauthorized use or loss of your credentials).</p>
        
        <p>4.6 Circle may enable features that allow you to authorize other Members or certain third parties to take certain actions that affect your Circle Account. For example, we may allow Members associated with an Enterprise (as defined in our Privacy Policy) to book for other Members. These features do not require that you share your credentials with any other person. No third party is authorized by Circle to ask for your credentials, and you shall not request the credentials of another Member.</p>
        
        <h3><li>Content</li></h3>
        
        <p>5.1 Circle may, at its sole discretion, enable Members to (i) create, upload, post, send, receive and store content, such as text, photos, audio, video, or other materials and information on or through the Circle Platform ("Member Content"); and (ii) access and view Member Content and any content that Circle itself makes available on or through the Circle Platform, including proprietary Circle content and any content licensed or authorized for use by or through Circle from a third party ("Circle Content" and together with Member Content, "Collective Content").</p>
        
        <p>5.2 The Circle Platform, Circle Content, and Member Content may in its entirety or in part be protected by copyright, trademark, and/or other laws of the United States and other countries. You acknowledge and agree that the Circle Platform and Circle Content, including all associated intellectual property rights, are the exclusive property of Circle and/or its licensors or authorizing third-parties. You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Circle Platform, Circle Content or Member Content. All trademarks, service marks, logos, trade names, and any other source identifiers of Circle used on or in connection with the Circle Platform and Circle Content are trademarks or registered trademarks of Circle in the United States and abroad. Trademarks, service marks, logos, trade names and any other proprietary designations of third parties used on or in connection with the Circle Platform, Circle Content, and/or Collective Content are used for identification purposes only and may be the property of their respective owners.</p>
        
        <p>5.3 You will not use, copy, adapt, modify, prepare derivative works of, distribute, license, sell, transfer, publicly display, publicly perform, transmit, broadcast or otherwise exploit the Circle Platform or Collective Content, except to the extent you are the legal owner of certain Member Content or as expressly permitted in these Terms. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by Circle or its licensors, except for the licenses and rights expressly granted in these Terms.</p>
        
        <p>5.4 Subject to your compliance with these Terms, Circle grants you a limited, non-exclusive, non-sublicensable, revocable, non-transferable license to (i) download and use the Application on your personal device(s); and (ii) access and view any Collective Content made available on or through the Circle Platform and accessible to you, solely for your personal and non-commercial use.</p>
        
        <p>5.5 By creating, uploading, posting, sending, receiving, storing, or otherwise making available any Member Content on or through the Circle Platform, you grant to Circle a non-exclusive, worldwide, royalty-free, irrevocable, perpetual (or for the term of the protection), sub-licensable and transferable license to such Member Content to access, use, store, copy, modify, prepare derivative works of, distribute, publish, transmit, stream, broadcast, and otherwise exploit in any manner such Member Content to provide and/or promote the Circle Platform, in any media or platform. Unless you provide specific consent, Circle does not claim any ownership rights in any Member Content and nothing in these Terms will be deemed to restrict any rights that you may have to use or exploit your Member Content.</p>
        
        <p>5.6 Circle may offer Hosts the option of having professional photographers take photographs of their Host Services, which are made available by the photographer to Hosts to include in their Listings with or without a watermark or tag bearing the words "Circle.fit Verified Photo" or similar wording ("Verified Images"). You are responsible for ensuring that your Host Service is accurately represented in the Verified Images and you will stop using the Verified Images on or through the Circle Platform if they no longer accurately represent your Listing, if you stop hosting the Host Service featured, or if your Circle Account is terminated or suspended for any reason. You acknowledge and agree that Circle shall have the right to use any Verified Images in advertising, marketing and/or any other business purposes in any media or platform, whether in relation to your Listing or otherwise, without further notice or compensation to you. Where Circle is not the exclusive owner of Verified Images, by using such Verified Images on or through the Circle Platform, you grant to Circle an exclusive, worldwide, royalty-free, irrevocable, perpetual (or for the term of the protection), sub-licensable and transferable license to use such Verified Images for advertising, marketing and/or any other business purposes in any media or platform, whether in relation to your Listing or otherwise, without further notice or compensation to you. Circle in turn grants you a limited, non-exclusive, non-sublicensable, revocable, non-transferable license to use Verified Images outside of the Circle Platform solely for your personal and non-commercial use.</p>
        
        <p>5.7 You are solely responsible for all Member Content that you make available on or through the Circle Platform. Accordingly, you represent and warrant that: (i) you either are the sole and exclusive owner of all Member Content that you make available on or through the Circle Platform or you have all rights, licenses, consents and releases that are necessary to grant to Circle the rights in and to such Member Content, as contemplated under these Terms; and (ii) neither the Member Content nor your posting, uploading, publication, submission or transmittal of the Member Content or Circle's use of the Member Content (or any portion thereof) will infringe, misappropriate or violate a third party's patent, copyright, trademark, trade secret, moral rights or other proprietary or intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.</p>
        
        <p>5.8 You will not post, upload, publish, submit or transmit any Member Content that: (i) is fraudulent, false, misleading (directly or by omission or failure to update information) or deceptive; (ii) is defamatory, libelous, obscene, pornographic, vulgar or offensive; (iii) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (iv) is violent or threatening or promotes violence or actions that are threatening to any other person; (v) promotes illegal or harmful activities or substances; or (vi) violates Circle’s Content Policy or any other Circle policy. Circle may, without prior notice, remove or disable access to any Member Content that Circle finds to be in violation of these Terms or Circle’s then-current Policies or Standards, or otherwise may be harmful or objectionable to Circle, its Members, third parties, or property.</p>
        
        <p>5.9 Circle respects copyright law and expects its Members to do the same. If you believe that any content on the Circle Platform infringes copyrights you own, please notify us in accordance with our <%= link_to "Copyright Policy", terms_copyright_policy_path %>.</p>
        
        <h3><li>Service Fees</li></h3>
        
        <p>6.1 Circle may charge fees to Hosts ("Host Fees") and/or Guests ("Guest Fees") (collectively, "Service Fees") in consideration for the use of the Circle Platform. Circle charges hosts a fee of 20% of the listing price each time a reservation is booked.</p>
        
        <p>6.2 We charge hosts a service fee (including taxes, if applicable) every time a booking is completed. The amount of the host service fee is 20%. The host service fee is calculated from the booking subtotal (before fees and taxes) and is automatically deducted from the payout to the Host.</p>
        
        <p>6.3 You are responsible for paying any Service Fees that you owe to Circle. The applicable Service Fees are due and payable and collected by Circle Payments pursuant to the <%= link_to "Payments Terms", terms_payments_terms_path %>. Except as otherwise provided on the Circle Platform, Service Fees are non-refundable.</p>
        
        <h3><li>Terms specific for Hosts</li></h3>
        
        <h5>7.1 Terms applicable to all Listings</h5>
        
        <p>7.1.1 When creating a Listing through the Circle Platform you must (i) provide complete and accurate information about your Host Service (such as listing description, location, and calendar availability), (ii) disclose any deficiencies, restrictions (such as house rules) and requirements that apply (such as any minimum age, proficiency or fitness requirements) and (iii) provide any other pertinent information requested by Circle. You are responsible for keeping your Listing information (including calendar availability) up-to-date at all times.</p>
        
        <p>7.1.2 You are solely responsible for setting a price (including any Taxes if applicable) for your Listing (“Listing Fee”). Once a Guest requests a booking of your Listing, you may not request that the Guest pays a higher price than in the booking request.</p>
        
        <p>7.1.3 Any terms and conditions included in your Listing, in particular in relation to cancellations, must not conflict with these Terms.</p>
        
        <p>7.1.4 Pictures, animations or videos (collectively, "Images") used in your Listings must accurately reflect the quality and condition of your Host Services. Circle reserves the right to require that Listings have a minimum number of Images of a certain format, size and resolution.</p>
        
        <p>7.1.5 The placement and ranking of Listings in search results on the Circle Platform may vary and depend on a variety of factors, such as Guest search parameters and preferences, Host requirements, price and calendar availability, number and quality of Images, customer service and cancellation history, Reviews and Ratings, type of Host Service, and/or ease of booking.</p>
        
        <p>7.1.6 When you accept or have pre-approved a booking request by a Guest, you are entering into a legally binding agreement with the Guest and are required to provide your Host Service(s) to the Guest as described in your Listing when the booking request is made. You also agree to pay the applicable Host Fee and any applicable Taxes, which will be collected pursuant to the <%= link_to "Payments Terms", terms_payments_terms_path %>.</p>
        
        <p>7.1.7 Circle recommends that Hosts obtain appropriate insurance for their Host Services. Please review any respective insurance policy carefully, and in particular make sure that you are familiar with and understand any exclusions to, and any deductibles that may apply for, such insurance policy, including, but not limited to, whether or not your insurance policy will cover the actions or inactions of Guests while using your Accommodation or other Host Service.</p>
        
        <h5>7.2 Listing Accommodations</h5>
        
        <p>7.2.1 You may only list one Accommodation per Listing.</p>
        
        <p>7.2.2 You represent and warrant that any Listing you post and the booking of, or a Guest's use at, an Accommodation will (i) not breach any agreements you have entered into with any third parties, and (ii) comply with all applicable laws (such as zoning laws), Tax requirements, and other rules and regulations (including having all required permits, licenses and registrations). As a Host, you are responsible for your own acts and omissions and are also responsible for the acts and omissions of any individuals who are present at the Accommodation at your request or invitation, excluding the Guest.</p>
        
        <h3><li>Terms specific for Guests</li></h3>
        
        <h5>8.1 Terms applicable to all bookings</h5>
        
        <p>8.1.1 Subject to meeting any requirements (such as completing any verification processes) set by the Host, you can book a Listing available on the Circle Platform by following the respective booking process. All applicable fees, including the Listing Fee, Security Deposit (if applicable), Guest Fee and any applicable Taxes (collectively, “Total Fees”) will be presented to you prior to booking a Listing. You agree to pay the Total Fees for any booking requested in connection with your Circle Account.</p>
        
        <p>8.1.2 Upon receipt of a booking confirmation from Circle, a legally binding agreement is formed between you and your Host, subject to any additional terms and conditions of the Host that apply, including in particular the applicable cancellation policy and any rules and restrictions specified in the Listing. Circle Payments will collect the Total Fees at the time of the booking request or upon the Host’s confirmation pursuant to the Payments Terms.</p>
        
        <p>8.1.3 If you are booking for a guest who is a minor, you represent and warrant that you are legally authorized to act on behalf of the minor. Minors may only participate in a Host Service if accompanied by an adult who is responsible for them.</p>
        
        <h5>8.2 Booking Accommodations</h5>
        
        <p>8.2.1 You understand that a confirmed booking of an Accommodation (“Accommodation Booking”) is a limited license granted to you by the Host to enter, occupy and use the Accommodation for the duration of your stay.</p>
        
        <p>8.2.2 You agree to leave the Accommodation no later than the checkout time that the Host specifies in the Listing (if applicable) or such other time as mutually agreed upon between you and the Host. If you stay past the agreed upon checkout time without the Host's consent (“Overstay”), you no longer have a license to stay in the Accommodation and the Host is entitled to make you leave in a manner consistent with applicable law.</p>
        
        <h3><li>Booking Modifications, Cancellations and Refunds, Resolution Center</li></h3>
        
        <p>9.1 Hosts and Guests are responsible for directing any modifications to a booking that they make via the Circle Platform to Circle customer service to make ("Booking Modifications"), and agree to pay any additional Listing Fees, Host Fees or Guest Fees and/or Taxes associated with such Booking Modifications.</p>
        
        <p>9.2 Guests can cancel a confirmed booking at any time subject to the Listing’s cancellation policy, and Circle Payments will provide any refund to the Guest in accordance with such cancellation policy. Unless <a href="#">extenuating circumstances</a> exist, any amounts due to the Host under the applicable cancellation policy will be remitted to the Host by Circle Payments pursuant to the <%= link_to "Payments Terms", terms_payments_terms_path %>.</p>
        
        <p>9.3 If a Host cancels a confirmed booking, the Guest will receive a full refund of the Total Fees for such booking and Circle may publish an automated review on the Listing cancelled by the Host indicating that a booking was cancelled. In addition, Circle may (i) keep the calendar for the Listing unavailable or blocked for the dates of the cancelled booking, and/or (ii) impose a cancellation fee, unless the Host has a valid reason for cancelling the booking pursuant to Circle’s <a href="#">Extenuating Circumstances</a> Policy or has legitimate concerns about the Guest’s behavior.</p>
        
        <p>9.4 In certain circumstances, Circle may decide, in its sole discretion, that it is necessary to cancel a confirmed booking and make appropriate refund and payout decisions. This may be for reasons set forth in Circle's <a href="#">Extenuating Circumstances Policy</a> or (i) where Circle believes in good faith, while taking the legitimate interests of both parties into account, this is necessary to avoid significant harm to Circle, other Members, third parties or property, or (ii) for any of the reasons set out in these Terms.</p>
        
        <p>9.5 If a Guest suffers a Travel Issue pursuant to the <%= link_to "Guest Refund Policy", terms_guest_refund_policy_path %>, Circle may determine, in its sole discretion, to refund the Guest part or all of the Total Fees in accordance with the Guest Refund Policy.</p>
        
        <p>9.6 Members may use the Resolution Center to send or request money for refunds, additional Host Services or Damage Claims related to bookings. You agree to pay all amounts sent through the Resolution Center in connection with your Circle Account, and Circle Payments will handle all such payments pursuant to the <%= link_to "Payments Terms", terms_payments_terms_path %>.</p>
        
        <h3><li>Ratings and Reviews</li></h3>
        
        <p>10.1 Within a certain timeframe after completing a booking, Guests and Hosts can leave a public review (“Review”) and submit a star rating (“Rating”) about each other. Any Ratings or Reviews reflect the opinion of individual Members and do not reflect the opinion of Circle. Ratings and Reviews are not verified by Circle for accuracy and may be incorrect or misleading.</p>
        
        <p>10.2 Ratings and Reviews by Guests and Hosts must be fair, truthful and factual and may not contain any offensive or defamatory language. Ratings and Reviews must comply with Circle’s <a href="#">Content Policy</a> and <a href="#">Extortion Policy</a>.</p>
        
        <p>10.3 Members are prohibited from manipulating the Ratings and Reviews system in any manner, such as instructing a third party write a positive or negative Review about another Member.</p>
        
        <h3><li>Damage to Accommodations, Disputes between Members</li></h3>
        
        <p>11.1 As a Guest, you are responsible for leaving the Accommodation (including any personal or other property located at the Accommodation) in the condition it was in when you arrived. You are responsible for your own acts and omissions.</p>
        
        <p>11.2 If a Host claims and provides evidence that you as a Guest have damaged an Accommodation or any personal or other property at an Accommodation ("Damage Claim"), the Host can seek payment from you through the Resolution Center. If a Host escalates a Damage Claim to Circle, you will be given an opportunity to respond. If you agree to pay the Host, or Circle determines in its sole discretion that you are responsible for the Damage Claim, Circle Payments will collect any such sums from you and/or against the Security Deposit (if applicable) required to cover the Damage Claim pursuant to the Payments Terms. Circle also reserves the right to otherwise collect payment from you and pursue any remedies available to Circle in this regard in situations in which you are responsible for a Damage Claim, including, but not limited to, in relation to any payment requests made by Hosts under the Circle Host Guarantee.</p>
        
        <p>11.3 Members agree to cooperate with and assist Circle in good faith, and to provide Circle with such information and take such actions as may be reasonably requested by Circle, in connection with any Damage Claims or other complaints or claims made by Members relating to Accommodations or any personal or other property located at an Accommodation (including, without limitation, payment requests made under the Circle Host Guarantee). A Member shall, upon Circle's reasonable request and at no cost to the Member, participate in mediation or a similar resolution process with another Member, which process will be conducted by Circle or a third party selected by Circle or its insurer, with respect to losses for which a Member is requesting payment from Circle (including but not limited to payments under the Circle Host Guarantee).</p>
        
        <p>11.4 If you are a Guest, you understand and agree that Circle may make a claim under your insurance policy related to any damage or loss that you may have caused, or been responsible for, to an Accommodation or any personal or other property located at an Accommodation (including without limitation amounts paid by Circle under the Circle Host Guarantee). You agree to cooperate with and assist Circle in good faith, and to provide Circle with such information as may be reasonably requested by Circle, to make a claim under your insurance policy, including, but not limited to, executing documents and taking such further acts as Circle may reasonably request to assist Circle in accomplishing the foregoing.</p>
        
      </ol>
    </div> 
  </div>
</div>

