<div class="panel panel-default"> 
  <div class="panel-heading">
    <span><% if @gym.Instant? %><i class="fa fa-bolt" style="color: #fbbc05"></i><% end %> $<%= @gym.price %></span>
    <span class="pull-right">Per Day</span>
  </div> 
  <div class="panel-body">
    <%= form_for([@gym, @gym.reservations.new]) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <label>Start</label>
          <%= f.text_field :start_date, readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>  
        </div>
        <div class="col-md-6">
          <label>End</label>
          <%= f.text_field :end_date, readonly: true, placeholder: "End Date", class: "form-control datepicker", disabled: true %>  
        </div>
      </div>
      
      <h5 class="message-alert text-center"><span id="message"></span></h5>
      <div id="preview" style="display: none">
        <table class="reservation-table">
          <tbody>
            <tr>
              <td>Price</td>
              <td class="text-right">$<%= @gym.price %></td>
            </tr>
            <tr>
              <td>Day(s)</td>
              <td class="text-right">x <span id="reservation_nights"></span></td>
            </tr>
            <tr id="special_details">
              <td colspan="2" class="total">
                Special Price<br/>
                <ul id="special_list"></ul>
              </td>
            </tr>
            <tr>
              <td class="total">Total</td>
              <td class="text-right">$<span id="reservation_total"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <br>
      <% if @gym.Instant? %>
          <%= f.submit "Book Now", id: "btn_book", class: "btn btn-submit btn-block", disabled: true %>
      <% else %>
          <%= f.submit "Request Now", id: "btn_book", class: "btn btn-submit btn-block", disabled: true %>
      <% end %>
    <% end %>
  </div>
</div>


<script>

  function checkDate(date) {
    dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
    return [$.inArray(dmy, unavailableDates) == -1];
  }
  
  function resetUTC(d){
    var f = moment.utc(d);
    var now = new Date(f._d);
    var utcDate = new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(), now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());
    return utcDate;
  }

  $(function() {

    unavailableDates = [];

    specialDates = [];

    function specialCheck() {

      var start_date = $('#reservation_start_date').datepicker('getDate');
      var end_date = $('#reservation_end_date').datepicker('getDate');
      var nights = (end_date - start_date)/1000/60/60/24 + 1

      var input = {
        'start_date': start_date,
        'end_date': end_date
      }

      $.ajax({
        url: '<%= preview_gym_path(@gym) %>',
        data: input,
        success: function (data) {

          if (data.conflict) {
            $('#message').text("These dates are not available");
            $('#preview').hide();
            $('#btn_book').attr('disabled', true);
          } else {
            $('#message').text("");
            $('#preview').show();
            $('#btn_book').attr('disabled', false);

            //----------- START NEW UPDATE

            $('#special_list').empty();
            var selectedDates = [];

            // Step 1: Create an array of selected dates
            while (start_date <= end_date) {
                selectedDates.push($.datepicker.formatDate('d-m-yy', new Date(start_date)));
                start_date.setDate(start_date.getDate() + 1);
            };

            // Step 2: Create an array of special dates
            var selectedSpecialDate = specialDates.filter(function(sDate){
                var d = $.datepicker.formatDate('d-m-yy',new Date(sDate.day));
                return selectedDates.indexOf(d) !== -1;
            });

            var total = (nights - selectedSpecialDate.length) * <%= @gym.price %>;
            if (selectedSpecialDate.length > 0) {
              $('#special_details').show();

              selectedSpecialDate.map(function (date) {
                  total += date.price
                  $('#special_list').append('<li class="text-right">('+ date.day + '): $' + date.price +'</li>')
              });
            } else {
              $('#special_details').hide();
            }

            //----------- END NEW UPDATE

            $('#reservation_nights').text(nights);
            $('#reservation_total').text(total);
          }
        }
      });
    }

    $.ajax({
      url: '<%= preload_gym_path(@gym) %>',
      dateTyp: 'json',
      success: function(data) {

        specialDates = data.special_dates;
  
        console.log(data.unavailable_dates);

        $.each(data.unavailable_dates, function(arrID, arrValue) { for(var d = resetUTC(arrValue.day); d <= resetUTC(arrValue.day); d.setDate(d.getDate() + 1)) { unavailableDates.push($.datepicker.formatDate('d-m-yy', d)); } });
  
        console.log(unavailableDates);

        $('#reservation_start_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: checkDate,
          onSelect: function(selected) {
            $('#reservation_end_date').datepicker("option", "minDate", selected);
            $('#reservation_end_date').attr("disabled", false);
            specialCheck();
          }
        });

        $('#reservation_end_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: checkDate,
          onSelect: function(selected) {
            $('#reservation_start_date').datepicker("option", "maxDate", selected);
            specialCheck();
          }
        });
      }
    });

  });
</script>